@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --text-dark: hsl(240, 54%, 15%);
  --text-light: hsl(242, 18%, 64%);
  --primary: hsl(222, 98%, 60%);
  --primary-lighter: hsl(240, 33%, 86%);
  --primary-gradient: linear-gradient(to right, #3671fd, #6f31ff);
}

body {
  font-family: Poppins, sans-serif;
  background-color: #f5f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: white;
  padding: 2.5rem 1rem;
  max-width: 400px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid hsl(0 100% 100% / 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  margin-bottom: 24px;
  font-weight: 600;
  color: var(--text-dark);
}

label {
  font-size: 0.9375rem;
  font-weight: 600;
  color: #16164d;
  margin-bottom: 8px;
}

input[type=text], input[type=password] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px; 
  border: 2px solid var(--primary-lighter);
  border-radius: 0.3rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-dark);
}

input[type=submit] {
  background: var(--primary-gradient);
  color: white;
  padding: 0.5rem 0;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  font-weight: 500;
  text-align: center;
}

input[type=submit]:hover {
  opacity: 0.9;
}

.container {
  text-align: center;
  margin-top: 20px;
}

.login-link {
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;
}

.login-link:hover {
  text-decoration: underline;
}
