<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabelas de Produtos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h2>Tabelas de Produtos Disponíveis</h2>
    {% if message %}
        <p>{{ message }}</p>
    {% else %}
        <ul>
            {% for table_id in tables %}
                <li>
                    <a href="{{ url_for('download_products_csv', table_id=table_id) }}">Baixar Tabela {{ table_id }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
